<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Diario</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Il tuo diario (che fantasia)</h1>
    <h2>L'ennesimo diario di cui potresti fare a meno...</h2>
    <p>Ciao, sono Vittorio Longo. Questo è un mio progetto realizzato per mettermi alla prova come programmatore. In questa applicazione potrai scrivere tutto quello che ti passa per la testa. Buon divertimento </p>
    <button onclick="location.href='/signin'">Registrati</button>
    <button onclick="location.href='/login'">Accedi</button>
</body>
</html>
